main > div {
  margin: 2rem auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2ch;
  max-width: 20ch;
  box-sizing: content-box;
  text-align: center;
}
.title {
  margin-bottom: 0;
  text-align: center;
  font-size: 4rem;
  margin: 0;
  line-height: 1;
}
.subtitle {
  display: block;
  font-size: 1.2rem;
  margin: 0;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}
.header > img {
  margin-bottom: 1rem;
}
.summary {
  margin: 0;
  text-align: center;
  text-wrap: balance;
}

.feature {
  padding: 1ch;
}
.githubLogo {
  width: auto;
  height: 1.4em;
  vertical-align: bottom;
}
@media (prefers-color-scheme: dark) {
  .githubLogo {
    filter: invert(1);
  }
}

.underlineMe {
  position: relative;
}

main .badges {
  margin-left: 2ch;
  margin-right: 2ch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.badges img {
  width: auto;
  height: 3.5rem;
}

@media (prefers-constrast: more) {
  .header, .badges, .feature {
    border: 0.2rem solid;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .header + svg, .badges + svg {
    display: none;
  }
}
